<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crustomer</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <p>Welcome, <%= user.userName %>!</p>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        <section>
            <h1>Your Order</h1>
            <ul>
            <% pizzas.forEach( el => { %>
                    <li class='pizzaItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.pizza %></span>
                        <span><%= el.price %></span>
                        <span><%= el.toppings.join(', ') %></span>
                        <span class='del'> Delete </span>
                    </li>
            <% }) %> 
            </ul>
        </section>
        <section>
            <form action="/pizzas/createPizza" method="POST">
                <h1>Menu</h1>
                <div class="menu">            
                    <div class="card">
                        <img class="productImage" src="https://thumbs.dreamstime.com/b/pepperoni-pizza-thinly-sliced-popular-topping-american-style-pizzerias-30402134.jpg" alt="pepperoni pizza">
                        <div class="itemInfo">
                            <h2>Pepperoni</h2>
                            <div class="description">
                                <h3>Description</h3>
                                <p>Our prize-winning pepperoni will have your mouth watering more than the little pools of grease in each meaty cup.</p>
                            </div>
                            <span class="price">$15</span>
                            <div>
                                <input id="pepperoni" type="radio" name="pizzaItem" value="pepperoni">
                                <label for="pepperoni">Pepperoni</label>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="productImage" src="https://www.pizzakmarietta.com/wp-content/uploads/2019/09/bbq-chicken-backed.jpg" alt="chicken pizza">
                        <div class="itemInfo">
                            <h2>Chicken</h2>
                            <div class="description">
                                <h3>Description</h3>
                                <p>Our chicken is seasoned with a secret blend of one thousand herbs and spices. Add to that our awesome BBQ-based pizza sauce with even more seasoning, and you have yourself a one-way ticket to Flavortown!</p>
                            </div>
                            <span class="price">$18</span>
                            <div>
                                <input id="chicken" type="radio" name="pizzaItem" value="chicken">
                                <label for="chicken">Chicken</label>
                                
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="toppings">
                    <input type="checkbox" value="Extra Cheese" name="topping">
                    <label for="extraCheese">Extra Cheese</label>
                    <input type="checkbox" value="Pepper Flakes" name="topping">
                    <label for="extraCheese">Pepper Flakes</label>   
                </div>
                <div>
                    <button id="submit-btn" type="submit">Submit Order</button>
                </div>
            </form>
        </section>
    </main>
<!--
    <section>
        <form action="/pizzas/createPizza" method='POST'>
            <input type="text" placeholder="Enter Pizza Item" name='pizzaItem'>
            <input type="number" placeholder="Enter Price" name="pizzaPrice">
            <input type="submit">
        </form>
    </section>
-->
    <script src="js/main.js"></script>
</body>
</html>