<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Pizzas</h1>
    <ul>
    <% pizzas.forEach( el => { %>
            <li class='pizzaItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.pizza %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/pizzas/createPizza" method='POST'>
        <input type="text" placeholder="Enter Pizza Item" name='pizzaItem'>
        <input type="number" placeholder="Enter Price" name="pizzaPrice">
        <input type="submit">
    </form>

    <form action="/pizzas/createPizza" method="POST">
        <div>
            <p>Or Choose a Premade Pizza!</p>
            
            <input id="pepperoni" type="radio" name="pizzaItem" value="pepperoni">
            <label for="pepperoni">Pepperoni</label>

            <input id="chicken" type="radio" name="pizzaItem" value="chicken">
            <label for="chicken">Chicken</label>

            <input type="submit">
        </div>
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>